<div class="container">
  <div class="show-header">
    <div class="show-buttons">

      <%= link_to "Back To Pets", pets_path, class: "btn-add draw-border" %>
      <% if @pet.user == current_user %>
        <%= link_to "Edit Pet", edit_pet_path(@pet), class: "btn-add draw-border" %>
      <% end %>
    </div>
  </div>
</div>
<div class="container">
<h1 class="text-center">Pet Profile</h1>
  <div class="row">
    <div class="col-lg-4 col-m-6 col-sm-12">
      <div class="fancy-card-wrapper">

          <div class="fancy-card profile-two">

            <div class="fancy-card-image profile-img--two">
              <%= cl_image_tag @pet.photo.key, height: 300, width: 400, crop: :fill %>
            </div>

            <ul class="social-icons">
              <li>
                <a href="">
                  <i class="card-icon fas fa-paw"></i>
                </a>
              </li>
              <li>
                <a href="">
                  <i class="card-icon far fa-bookmark"></i>
                </a>
              </li>
            </ul>

            <div class="details pet">
                <h2><%= @pet.name %>
                  <br>
                  <span class="pet-description"><%= @pet.description %></span>
                </h2>
            </div>
          </div>
      </div>
    </div>

    <div class="col-lg-8 col-m-4 col-sm-12">
      <div class="pet-details-cards">
        <div class="top-cards">
          <div class="card-product top-card">
            <div class="icon-box">
              <i class="fas fa-paw fa-4x"></i>
            </div>
            <div class="card-product-infos">
              <h2>General Information</h2>
              <p><strong>Species:</strong> <%= @pet.species %></p>
              <p><strong>Breed:</strong> <%= @pet.breed %></p>
              <p><strong>Age:</strong> <%= @pet.age %></p>
              <p><strong>Price:</strong> £<%= @pet.price %> per day</p>
            </div>
          </div>

          <div class="card-product top-card">
            <div class="icon-box">
              <i class="far fa-user fa-4x"></i>
            </div>
            <div class="card-product-infos">
              <h2>Owner Details</h2>
              <p><strong>Name:</strong> <%= @pet.user.first_name %> <%= @pet.user.first_name %></p>
              <p><strong>Email:</strong> <%= @pet.user.email %></p>
              <p><strong>Postcode:</strong> <%= @pet.user.postcode %></p>
            </div>
          </div>
        </div>

        <div class="card-product">
          <div class="icon-box">
            <i class="far fa-calendar-alt fa-4x"></i>
          </div>
          <div class="card-product-infos">
            <% unless @pet.user == current_user %>
            <h2>Booking</h2>
            <div class="d-flex justify-content-between align-items-center">
            <p>Arrange a day with <%= @pet.name %></p>
            <strong><a class="d-inline-block btn btn-flat" data-target="#exampleModalCenter" data-toggle="modal" href="#exampleModalCenter" role="button" aria-expanded="false" aria-controls="exampleModalCenterTitle">
              HERE</a></strong>
            </div>
            <% else %>
              <h2><%= @pet.name %> bookings</h2>
              <p>View <%= @pet.name %>'s bookings
                <strong><a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"> here.</a></strong>
              </p>
            <% end %>
          </div>
        </div>
        <% unless @pet.user == current_user %>
<!-- Modal -->
          <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title" id="exampleModalLongTitle">Book a pet!</h1>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <%= render 'bookings/new'%>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-flat" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        <% else%>
          <%= render 'pet-booking' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
