<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "clipart36102" %>
  <% end %>
  <h1 class="mr-auto my-auto" id="title" >PetHub</h1>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item dropdown d-flex">
        <%= link_to "Add My Pet", new_pet_path, class: "btn btn-flat mr-2" %>
        <%if current_user.photo.attached?%>
          <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false,  height: 40, width: 40, crop: :fill %>
        <%else%>
        <%= link_to "Add My Pet", new_pet_path, class: "btn btn-flat mr-2" %>
          <i class="fas fa-user nav-link avatar dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
        <%end%>
          <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="navbarDropdown">
            <%= link_to "My profile", edit_user_registration_path, class: "dropdown-item navbar-red-text" %>
            <%= link_to "My Dashboard", my_dashboard_path, class: "dropdown-item navbar-red-text"%>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item navbar-red-text" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Sign up", new_user_registration_path, class: "nav-link mr-2", id: "signup-btn" %>
        </li>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link", id: "login-btn" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
